/*
font-family: 'Montserrat', sans-serif;

font-family: 'Noto Sans KR', sans-serif;
*/

html{
  overflow-x: hidden;
}

.navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 30px;
}

.nav_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: center;
  list-style-type: none;
}

.nav_menu>li {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: skyblue;
}


.jumbotron {
  margin: 100px 100px;
  margin-bottom: 0px;
}


h1 {
  font-family: 'Montserrat', sans-serif;
}


h3 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  text-align: center;

  background-color: skyblue;
  border-radius: 60px;
  padding: 30px;
}

.deck-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bubble-section {
  width: 60%
}

.deck-ubong {
  width: 500px;
  height: 430px;
  align-self: flex-end;
}

body {
  background-color: white;
}

/* map menu */

.desti-section {
  display: flex;
  flex-direction: row;
  /* /* margin: 0px 100px; */
  margin:50px 0px;
  font-family: 'Noto Sans KR', sans-serif;
  overflow-y: hidden;
  overflow-x: scroll hidden;
  width: 100%;
  -ms-overflow-style: none;
}

::-webkit-scrollbar { 
  display: none; }


/* 드래그 스크롤 */
.dragscroll {
  /* border: 1px solid rgb(31, 40, 49);
  background-color : #283849; */
  overflow: auto;
}
.horizontal.dragscroll {
  margin-top : 10px;
  width: 100%;
  margin-left: auto;
  /* background-color: #000000; */
  margin-right: auto;
}

.horizontal {
  cursor : -webkit-grab;
  cursor : -moz-grab;
  cursor : -o-grab;
  cursor : grab;
}


.horizontal:active {
  cursor : -webkit-grabbing;
  cursor : -moz-grabbing;
  cursor : -o-grabbing;
  cursor : grabbing;
}



/* whole box of destination cards 데스티네이션 카드의 container */
.destiLi {
  display: flex;
  flex-direction: row;
  margin:10px 70px;
  font-family: 'Noto Sans KR', sans-serif;
  list-style:none;
  padding-inline-start:0em;
}

/* team vision in destination section*/

#desti-vision-card{
  background: rgb(255, 204, 0);
  background: linear-gradient(174deg, rgba(255, 204, 0, 1) 9%, rgba(129, 212, 250, 1) 70%);
}

.desti-vision {
  background:transparent;
  color: white;
  text-align: center;
  border-radius: 30px;
  border: 0.5px white;
  /* width: 180vw; 원래 크기*/
  /* width:400px; */
  margin: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/* destination block in general */
.desti, .newDestiLi {
  background: rgb(143,220,255);
  background: linear-gradient(174deg, rgba(143,220,255,1) 31%, rgba(90,200,250,1) 70%);
  border-radius: 30px;
  border: 0.5px white;
  width: 300px;
  margin: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}
/* 데스티네이션 카드 hover시 더 많은 양의 shade를 부여함 */

/* animation for new destination card */
.newDestiLi{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
}

/* 데스티네이션 카드에 hover하면 scale이 커짐  */
.newDestiLi:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);  
}

/* detination추가하는 버튼의 style */
.newDestiBtn{
  position:fixed;
  right:50px;
  top:100px;

  padding: 2px;
  width: 3%;
  /* background: #d9d9d9; */
  background: white;
  /* color: #FFCC00; */
  color:gray;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s; 
  border-radius: 5em;
  
}

.newDestiBtn:hover{
  background-color: #ddd;
}

/*destination upcoming*/
.desti-empty-img {
  position: relative;
}

/*turns island img to gray*/ 
.desti-empty-img {
  position: relative;
  width:160px;
  filter:opacity(10%);
  transition: ease-in-out;
  animation-name:none;
  animation-duration:1.0s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.desti-empty-img:hover{
  cursor: pointer;
}

/* 
keyframes on .desti-empty animation */
@keyframes destiDone{
  0% {width:160px; filter:hue-rotate(0);}
  40%{width:190px;}
  100% {width:170px;filter:hue-rotate(2turn);}
}
/* 
confetti test */

body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

[class|="confetti"] {
  position: absolute;
}

$colors: (#d13447, #ffbf00, #263672);

@for $i from 0 through 150 {
  $w: random(8);
  $l: random(100);
  .confetti-#{$i} {
    width: #{$w}px;
    height: #{$w*0.4}px;
    background-color: nth($colors, random(3));
    top: -10%;
    left: unquote($l+"%");
    opacity: random() + 0.5;
    transform: rotate(#{random()*360}deg);
    animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
  }

  @keyframes drop-#{$i} {
    100% {
      top: 110%;
      left: unquote($l+random(15)+"%");
    }
  }
}




/* 
confetti test the end */




/* visited destination 이미 달성한 데스티네이션*/
#visited-desti {
  background: rgb(255, 204, 0);
  background: linear-gradient(174deg, rgba(255, 204, 0, 1) 9%, rgba(129, 212, 250, 1) 70%);
  border-radius: 30px;
  border: 0.5px white;
  width: 100%;
  margin: 10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 60px;
  color: white;
}

.visited-desti-img {
  align-content: space-between;
}

/* adding new destination */
/* help me : how can i align text right in the middle?*/

#add-desti {
  background: ghostwhite;
  border: 0.5px white;
  width: 100%;
  margin: 10px;
  text-align: center;
  align-content: space-between;
  color: gray;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 60px;
  padding-bottom: 60px;
}


/*milestone section*/
.milest-username-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.milest_username {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  margin: 10px 100px;
  font-family: 'Noto Sans KR', sans-serif;
}

.flip-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px black;
  margin: 5px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flip-card {
  background-color: transparent;
  height: 20px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  height: 20px;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-card-front {
  height: 20px;
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-card-back {
  height: 20px;
  background-color: white;
  color: white;
  transform: rotateY(180deg);
  align-content: center;
}

/*all namecard blocks*/
.map-block {
  flex-basis: 300px;
  flex-shrink: 1;
  flex-grow: 1;
}

/*user's xp info*/
.milest_user_xp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 10px;
  color: black;
}

.milest_user_xp>p {
  margin: 3px 3px;
}

/*team goal area - text input*/

.upcoming-desti>input,
.desti-vision>input{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  width: 80%;
  color: white;
  background: transparent;
  border: none;
}

/* desti section - style of team name input area */
input.teamname{
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  width: 22%;
  color: white;
  background: transparent;
  border: none;
}

/* style of text area in added milestone list
이미 생성된 마일스톤 리스트의 텍스트 입력창 스타일 */
.milestLiInput{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 12px;
  width: 70%;
  color:black;
  background: transparent;
  border: none;
}

.milestLiInput::placeholder{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size: 10px;
  width: 70%;
  color: black;s
}

.vision-text{
  font-size:20px;  
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Montserrat', sans-serif;
}

.desti-vision>input::placeholder,
.vision-text>input::placeholder,
.upcoming-desti>input::placeholder{
  color: white;
}


/*when input area is focused, nothing happens*/
Input:focus {
  outline: none;
}

/*mileston list testing */
/*this is section of mileston list*/

.milest-section {
  display: flex;
  flex-direction: row;
  margin: 10px 100px;
}

.milest-column {
  flex-basis: 300px;
  flex-shrink: 1;
  flex-grow: 1;
  /** display:flex;
    flex-direction:column; **/
}

/* 
.milest-log{
    white-space:nowrap;
    display:flex;
    flex-direction:column; 

    border-radius: 20px;
    border:1px #5AC8FA;
    width:100%;
    margin: 5px;
    background-color: transparent;

    width: 300px;
    height: 15px;
    border: 1px solid #f1f1f1;
      
    text-align:center;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Montserrat', sans-serif; font-weight:500;
    padding-top: 20px;
    padding-bottom: 20px;
  */

/*to do list */

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}


/* Remove margins and padding from the list */
#miUl, #miUl2, #miUl3, #miUl4, #miUl5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the list items */

#miUl>li, #miUl2>li, #miUl3>li, #miUl4>li, #miUl5>li {
  /* width:300px; */
  height: 60px;
  margin: 10px;
  border-radius: 1em;

  cursor: pointer;
  position: relative;
  padding: 20px 8px 20px 40px;
  background: #eee;
  font-size: 13px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
#miUl li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
#miUl li:hover, #miUl2 li:hover, #miUl3 li:hover, #miUl4 li:hover, #miUl5 li:hover  {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
#miUl li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
#miUl li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the gem icon button */

.close, span.gem-icon, #id-gem{
  text-align:center;
  padding: 3px;
  width: 20%;
  position: absolute;
  right: 1px;
  top: 5px;
  font-size:30px;
  filter: grayscale(90%); 
  /*padding: 12px 16px 12px 16px; */
}

/* span.gem-icon-colored{
  text-align:center;
  padding: 3px;
  width: 20%;
  position: absolute;
  right: 1px;
  top: 5px;
  font-size:30px;
} */

.close:hover, .gem-icon:hover {
  background-color: transparent;
  color: white;
}

span.cal-icon, .datepickjstest{
  text-align:left;
  padding: 1%;
  width: 10%;
  position:absolute;
  left: 5px;
  top: 15px;
  font-size:15px;
}

/* Style the milestone adding header */

.header {
  /* width:300px; */
  height: 60px;
  margin: 5px;

  border: 1px solid#bbb;
  border-radius: 1em;
  /*background-color:#bbb;*/
  background-color: transparent;
  padding: 20px 20px;
  color: black;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: ""; 
  display: table;
  clear: both;
}

/* Style of MILESTONE input */
#myInput, #myInput1, #myInput2, #myInput3, #myInput4, #myInput5 {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 80%;
  padding: 5px;
  float: left;
  font-size: 13px;
  /* color: black; */
}

/* Style of input box when typing */
#myInput:focus, #myInput2:focus, #myInput3:focus ,#myInput4:focus,#myInput5:focus  {
  outline: none;
}

.milest-underline {
  width: 2%;
}

/* Style the "Add" button */
#Btn1, #Btn2, #Btn3, #Btn4, #Btn5 {
  padding: 3px;
  width: 9%;
  /* background: #d9d9d9; */
  background: white;
  color: #FFCC00;
  float: right;
  text-align: center;
  font-size: 18px;
  font-weight: 9em;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 2em;
}

/* color changes when hovering on adding button */
.addBtn:hover {
  background-color: #bbb;
}


[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
} 
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.desti > label {
  display: block;
}

/* style of d-day counter  */

#dday {
  border: 1px solid white;
  border-radius: 30px;
  background-color:white;
  padding: 3px 5px;
  /* box-shadow: inset 0 3px 6px rgba(0,0,0,0.1); */
  width: 190px; 
  font: 'Montserrat', sans-serif; 
}

#desti-datepicker{
  background-color: #5AC8FA;
  width: 100%;
  font-size: 20px;
  font-weight:300em;
  padding: 5px;
  font-family:"Montserrat";
}

.hasDatepicker {
  font-size: 1em;
  color: white;
  padding: 0px;
  background-color: rgb(255, 197, 5);
  border-radius: 30px;
  border: none;
  text-align: center;
  width: 200px;
  height: 20px;
}

#desti-datepicker:hover{
color: #FFCC00;

}

#desti-datepicker::placeholder{
  color:white;
}

#desti-datepicker:focus::placeholder{
  color: rgb(207, 160, 6);
}