/*
font-family: 'Montserrat', sans-serif;

font-family: 'Noto Sans KR', sans-serif;
*/

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
}

.nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: center;
    list-style-type: none;
}

.nav_menu>li{
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: skyblue;
}


.jumbotron{
    margin: 100px 100px;
    margin-bottom: 0px;
}


h1{
    font-family: 'Montserrat', sans-serif;
}


h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    text-align: center;

    background-color: skyblue;
    border-radius: 60px;
    padding: 30px;
}

.deck-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bubble-section{
    width: 60%
}

.deck-ubong{
    width: 500px;
    height: 430px;
    align-self: flex-end;
}

/* map menu */ 

.desti-section{
    display:flex;
    flex-direction:row;
    margin: 100px 100px;
    font-family: 'Noto Sans KR', sans-serif;
}

/* team vision in destination section*/

.desti-vision{
    background-color:#5AC8FA;
    color:white;
    text-align:center;
    border-radius: 30px;
    border: 0.5px white;
    width: 180vw;
    margin: 10px;
    padding-top:140px;
    padding-bottom:140px;
}

/* destination block in general */
.desti{
    background-color: #5AC8FA;
    border-radius: 30px;
    border: 0.5px white;
    width: 100%;
    margin: 10px;
    text-align:center;
    font-family: 'Montserrat', sans-serif; font-weight: bold;
    padding-top:100px;
    padding-bottom:100px;
    color:white;
}

/*d-day*/
.desti-empty-img{
    position: relative;
}

.desti-empty-img-gray{
    position: relative;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.desti-dday {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


/* visited destination */ 

#visited-desti
    {
        background: rgb(255,204,0);
        background: linear-gradient(174deg, rgba(255,204,0,1) 9%, rgba(129,212,250,1) 70%);        border-radius: 30px;
        border: 0.5px white;
        width: 100%;
        margin: 10px;
        text-align:center;
        font-family: 'Montserrat', sans-serif; font-weight: bold;
        padding-top:100px;
        padding-bottom:100px;
        color:white; 
    }    

.visited-desti-img{
    align-content: space-between;
}

/* adding new destination */
/* help me : how can i align text right in the middle?*/

#add-desti{
    background: ghostwhite;
    border: 0.5px white;
    width: 100%;
    margin: 10px;
    text-align:center;
    align-content: space-between;
    color:gray;
    font-family: 'Montserrat', sans-serif; font-weight: bold;
    padding-top:100px;
    padding-bottom:100px;
     }

/*milestone section*/

.milest_username{
    display:flex;
    flex-direction:row;
    margin: 100px 100px;
    font-family:'Noto Sans KR', sans-serif;
}

.flip-card{
    background-color: ghostwhite;
    border-radius: 30px;
    border:1px black;
    width:100%;
    margin: 5px;
    text-align:center;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Montserrat', sans-serif; font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
} 


/* flipping test */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 20px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 300px;
    height: 20px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    width: 300px;
    height: 20px;
    background-color: white;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    width: 300px;
    height: 20px;
    background-color:white;
    color: white;
    transform: rotateY(180deg);
    align-content: center;
  }

  .milest_user_xp{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size: 6px;
    color:black;
  }

  .milest_user_xp>p{
    margin: 3px 3px;
}

