/*
font-family: 'Montserrat', sans-serif;

font-family: 'Noto Sans KR', sans-serif;
*/

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
}

.nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: center;
    list-style-type: none;
}

.nav_menu>li{
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: skyblue;
}


.jumbotron{
    margin: 100px 100px;
    margin-bottom: 0px;
}


h1{
    font-family: 'Montserrat', sans-serif;
}

.slogan{
    font-size: 80px;
    margin: 30px;
}

h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    text-align: center;

    background-color: skyblue;
    border-radius: 60px;
    padding: 30px;
}

.deck-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bubble-section{
    width: 60%
}

.deck-ubong{
    width: 500px;
    height: 430px;
    align-self: flex-end;
}



/* Onboard */

.onboard{
    width: 100%
}

.profile-section{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 100px 100px;
    font-family: 'Noto Sans KR', sans-serif;
}

.profile {
    background-color: rgb(255, 210, 61);
    border-radius: 20px;
    border: 1px solid black;
    width: 100%;
    margin: 10px;
}

.profile>p, .profile>h5, .profile>div{
    margin:0px 15px;
}

.user_xp{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0px;
    font-size: 12px;
    color: grey;
}

.user_xp>p{
    margin: 10px 2px;
}

.user_emoji{
    font-size: 70px;
    margin: 0px;
}

.user_name{
    font-size: 24px;
    color: black;
}

.user_status{
    font-size: 16px;
    color: black;
}

.hot{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.hot_icon{
    margin-right: 5px;
}

.hot_milestone{
    font-size: 18px;
    color: black;
    font-weight: 700;
    margin-bottom: 5px;
}

.hot_milestone:hover{
    text-decoration: underline;
    color: black;
}

.user_name>input{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 24px;
    width: 80%;
    color: black;
    background: transparent;
    border: none;
}

.user_name>input::placeholder{
    color: black;
    
}
