/*
font-family: 'Montserrat', sans-serif;

font-family: 'Noto Sans KR', sans-serif;
*/

html{
    font-size: 10px;
    background-color: rgb(235, 235, 235);
}


.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 3rem;
}

.nav_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: center;
    list-style-type: none;
}

.nav_menu>li{
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.notification{
    width: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(241, 197, 0);
}


.jumbotron{
    margin: 0rem 10rem;
    margin-bottom: 0rem;
}

.navigator>h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.slogan{
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    margin: 2rem;
}

.bubble, .bubble>h3, .bubble>input{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-align: center;
}

.team_vision{
    font-weight: 700;
    width: 80%;
    color: black;
    background: transparent;
    border: none;
}

.team_vision::placeholder{
    color: black;
}


.bubble{
    background-color: #5AC8FA;
    border-radius: 6rem;
    padding: 3rem;
    margin-top: 2.4rem;
}

.deck-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bubble-section{
    width: 70rem;
}

.deck-ubong{
    width: 50rem;
    height: 43rem;
    align-self: flex-end;
}




/* Onboard */

.onboard{
    width: 100%;
    margin-bottom: 10rem;
}




.profile_section{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 5rem 10rem;
    margin-bottom: 0rem;
    font-family: 'Noto Sans KR', sans-serif;

}

.profile {
    background-color: white;
    border-radius: 2rem;
    /*border-bottom: 0.1rem solid gray;*/
    width: 100%;
    margin: 1rem;
}

.profile>p, .profile>h5, .profile>div, .profile>input{
    margin:0px 1.5rem;
}

.user_xp{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0rem;
    font-size: 1.2rem;
    color: grey;
}

.user_xp>p{
    margin: 1rem 0.2rem;
}

.user_emoji{
    font-size: 6rem;
    margin: 0rem;
    border: none;
    background: transparent;
    outline: none;
}


.user_name{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    width: 80%;
    color: black;
    background: transparent;
    border: none;
}

.user_name::placeholder{
    color: black;
}


.user_status{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    width: 80%;
    color: black;
    background: transparent;
    border: none;
}

.user_status::placeholder{
    color: black;
}

.hot{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.hot_icon{
    margin-right: 0.5rem;
}

.hot_milestone{
    font-size: 1.4rem;
    color: black;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.hot_milestone:hover{
    text-decoration: underline;
    color: black;
}

.last_access{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: grey;
    text-align: right;

    padding-bottom: 1rem;
    margin-right: 2rem;
}


/*new_section*/


.new_section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0rem 10rem;
    margin-bottom: 0rem;
    font-family: 'Noto Sans KR', sans-serif;
    height: 2.5rem;
}

.new_log{
    position: relative;
    bottom: 1rem;
    width: 100%;
    height: 1rem;
    margin: 0rem 1rem;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #5AC8FA;
    text-align: right;
}



/*Log Section*/


.log_section{
    overflow: auto;
    height: 70vh;
}

.log_section::-webkit-scrollbar-thumb{
    background-color: #5AC8FA;
}

.rows_container{
    display: flex;
    flex-direction: column;
}

.daily_row{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
    position: relative;
    left: -1rem;
    margin: 0rem 10rem;
}

.daily_date_id{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.daily_date{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 10rem;
    margin-right: 11rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
    height: 2rem;
}

.today_date{
    position: relative;
    top: 1rem;
    right: 5rem;
    margin: 0rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 3.6rem;
}

.blank_space{
    height: 0.1rem;
    margin-bottom: 2rem;
}

.daily_log{
    display: flex;
    flex-direction: column;
    margin: 0rem 1.3rem;
    width: 100%;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    width: 100%;
    
    border-radius: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;

}

.hidden{
    display: none;
}

.category_color{
    width: 4rem;
    height: 0.7rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    background-color: yellowgreen;
}

.log_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(179, 174, 174);
    margin: 0rem 0rem 0rem 1rem;

}

.log_info>p{
    margin-right: 1rem;
    margin-bottom: 0rem;
    margin-top: 0.8rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

.log_emoji{
    font-size: 2rem;
    margin: 0rem;
    border: none;
    background: transparent;
    outline: none;
    padding: 0rem;
}



/*future load button*/

.micro_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0rem;
    height: 0px;
}


.load_future{
    font-family: 'Montserrat', sans-serif;
    width: 2rem;
    height: 2rem;
    align-self: flex-end;

    border: none;
    outline: none;
    background: transparent;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;

    position: relative;
    right: 9rem;
    top: 1.6rem;
}

.load_future:hover{
    color: skyblue;
}

.load_future:active{
    color: grey;
}

.load_month{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    align-self: flex-start;
    
    position: relative;
    left: 6rem;
    top: 2.5em;
}



/*future-section*/

.future_section{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



.future{
    width: 100%;
    display: none;
}

.future_alert{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: grey;
    text-align: center;

    display: none;
}



/*past-section*/

.past_section{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    justify-content: flex-start;
    align-items: center;
}

.past{
    width: 100%;
    /*display: none;*/
}


/*past load button*/

.load_past{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    width: 30rem;
    height: 5rem;
    border-radius: 60px;
    outline: none;
    border: none;
    background-color: #5AC8FA;

    margin-bottom: 2rem;
    margin-top: 2rem;
}

.load_past:active{
    border: 0.3px solid grey;
}


/* Modal */
/* The Modal (background) */

.modal_btn{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #5AC8FA;
    text-align: right;
}

button{
    border: none;
    background-color:rgb(235, 235, 235);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }


  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height:10%;
    border-radius: 1rem;

  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

    /* The savelog1 Button */

}







/*category test*/

.category_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 200px;
    margin: 10px;
    background-color: skyblue;
    border-radius: 15px;
}

.search_value{
    border: none;
    outline: none;
    background-color: white;
    width: 200px;
    height: 30px;
    border-bottom: 0.5px solid grey;
    padding: 0px 10px;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
}

.category_box{
    width: 220px;
    height: 30px;
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.category_group{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.category_name{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: white;
    margin: 0px;
}


.category_check, .category_edit{
    width: 20px;
    height: 20px;

}

.category_check{
    padding-left: 10px;
    margin-right: 15px;
    visibility: hidden;

}

.category_edit{
    padding-right: 10px;
    justify-self: flex-end;
}

